*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

a,
img,
span,
data,
input,
select,
button,
textarea,
i {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}
img {
  height: auto;
}
input,
select,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}
input,
select,
textarea {
  width: 100%;
}
button {
  cursor: pointer;
}
i {
  pointer-events: none;
}
address {
  font-style: normal;
}
html {
  font-family: "Rubik", "Sans-serif";
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  background-color: white;
  color: gray;
  font-size: 1.6rem;
  line-height: 2;
  height: 300vh;
}
:focus-visible {
  outline-offset: 4px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}
:root {
  --shadow-1: 10px 0 60px hsla(0, 0%, 15%, 0.07);
  --shadow-2: 10px 0 60px hsla(0, 0%, 15%, 0.1);
}

.container {
  padding-inline: 15px;
}

.section {
  padding-block: 80px;
}

.has-before,
.has-after {
  position: absolute;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  position: absolute;
  content: "";
}

.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.h1,
.h2,
.h3 {
  font-family: "Oswald";
  line-height: 1.3;
}

.h1,
.h2 {
  text-transform: uppercase;
}

.h1,
.h3 {
  font-weight: 600;
}
.h1 {
  color: white;
  font-size: 40px;
}
.h2,
.h3 {
  color: black;
}
.h2 {
  font-size: 30px;
}
.h3 {
  font-size: 24px;
}

.btn {
  color: white;
  background-color: yellow;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: max-content;
  padding: 10px 25px;
  font-family: "Oswald";
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
  overflow: hidden;
}

.btn::before {
  background-color: black;
  inset: 0;
  z-index: -1;
  transform: skewY(-15deg) scaleY(0);
  /* transition: ; */
}
.btn:is(:hover, :focus)::before {
  transform: skew(-15deg) scaleY(2.5);
}

.header-top-item,
.header .btn {
  display: none;
}

.header-top-list,
.header-top-list .social-list {
  display: flex;
  align-items: center;
}

.header-top-list {
  justify-content: center;
}

.header-top-list .social-list {
  gap: 20px;
  padding-block: 15px;
}
.header-top-list .social-link {
  color: gray;
  font-size: 15px;
  /* transition: ; */
}

.header-top-list .social-link:is(:hover, :focus) {
  color: yellow;
}

.header-bottom {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  padding-block: 10px;
  z-index: 4;
}
.header-bottom.active {
  position: fixed;
  top: 0;
  background-color: black;
  transform: translateY(-100%);
  animation: slideIn 0.5 ease forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.header-bottom > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
.logo {
  color: yellow;
  font-family: "Oswald", "sans-serif";
  font-size: 2.7rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.4;
}

.logo .span {
  display: block;
  color: white;
  font-family: "Rubik";
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.nav-toggle-btn {
  color: white;
  font-size: 40px;
  background-color: transparent;
}
.navbar {
  position: absolute;
  padding-inline: 0;
  top: 100%;
  left: 15px;
  right: 15px;
  background-color: black;
  max-height: 0;
  overflow: hidden;
  /* transition: */
}
.navbar.active {
  max-height: 321px;
  transition-duration: 0.5s;
}
.navbar-list {
  border-block-start: 1px solid lightgray;
  margin-block: 25px;
}
.navbar-item {
  border-block-end: 1px solid lightgray;
}
.navbar-link {
  color: white;
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.5px;
  padding: 10px 30px;
  /* // transition: ; */
}
.navbar-link:is(:hover, :focus) {
  color: yellow;
}
/* section padding - 80px */

.hero {
  padding-block-start: 140px;
  padding: 100px 200px 100px 10px;
  background-position: left;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 100px 70% 100px 2%;
  }
  .hero p {
    max-width: 300px;
  }
}
.hero::before {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  mix-blend-mode: multiply;
}
.hero-text {
  color: white;
  margin-block: 15px 40px;
}
.text-center {
  text-align: center;
}
.grid-list {
  display: grid;
  gap: 30px;
}

.service {
  text-align: center;
  padding-top: 100vh;
}
.service .section-text {
  margin-block: 15px 55px;
}
.service-card {
  background-color: white;
  padding: 60px 25px;
  box-shadow: var(--shadow-1);
  border-radius: 8px;
}
.service-card .card-icon {
  color: yellow;
  font-size: 70px;
  line-height: 1;
}
.serice-card .card-title {
  margin-block: 15px 12px;
  /* transition: ; */
}
.service-card .card-title:is(:hover, :focus) {
  color: yellow;
}
