*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

a,
img,
span,
data,
input,
select,
button,
textarea,
i {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}
img {
  height: auto;
}
input,
select,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}
input,
select,
textarea {
  width: 100%;
}
button {
  cursor: pointer;
}
i {
  pointer-events: none;
}
address {
  font-style: normal;
}
html {
  font-family: "Rubik", "Sans-serif";
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  background-color: white;
  color: gray;
  font-size: 1.6rem;
  line-height: 2;
  height: 300vh;
}
:focus-visible {
  outline-offset: 4px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}
:root {
  --shadow-1: 10px 0 60px hsla(0, 0%, 15%, 0.07);
  --shadow-2: 10px 0 60px hsla(0, 0%, 15%, 0.1);
}

.container {
  padding-inline: 15px;
}

.section {
  padding-block: 80px;
}

.has-before,
.has-after {
  position: absolute;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  position: absolute;
  content: "";
}

.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.h1,
.h2,
.h3 {
  font-family: "Oswald";
  line-height: 1.3;
}

.h1,
.h2 {
  text-transform: uppercase;
}

.h1,
.h3 {
  font-weight: 600;
}
.h1 {
  color: white;
  font-size: 40px;
}
.h2,
.h3 {
  color: black;
}
.h2 {
  font-size: 30px;
}
.h3 {
  font-size: 24px;
}

.btn {
  color: white;
  background-color: rgb(255, 208, 0);;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: max-content;
  padding: 10px 25px;
  font-family: "Oswald";
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
  overflow: hidden;
}

.btn::before {
  background-color: black;
  inset: 0;
  z-index: -1;
  transform: skewY(-15deg) scaleY(0);
}
.btn:is(:hover, :focus)::before {
  transform: skew(-15deg) scaleY(2.5);
}

.header-top-item,
.header .btn {
  display: none;
}

.header-top-list,
.header-top-list .social-list {
  display: flex;
  align-items: center;
}

.header-top-list {
  justify-content: center;
}

.header-top-list .social-list {
  gap: 20px;
  padding-block: 15px;
}
.header-top-list .social-link {
  color: gray;
  font-size: 15px;
  transition: 0.3s;
}

.header-top-list .social-link:is(:hover, :focus) {
  color: rgb(255, 208, 0);
  animation: logoTranslate 0.8s infinite alternate;
}

.header-bottom {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  padding-block: 10px;
  z-index: 4;
}
.header-bottom.active {
  position: fixed;
  top: 0;
  background-color: black;
  transform: translateY(-100%);
  animation: slideIn 0.5 ease forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.header-bottom > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
.logo {
  color: rgb(255, 208, 0);
  font-family: "Oswald", "sans-serif";
  font-size: 2.7rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.4;
}

.logo .span {
  display: block;
  color: white;
  font-family: "Rubik";
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.nav-toggle-btn {
  color: white;
  font-size: 40px;
  background-color: transparent;
}
.navbar {
  position: absolute;
  padding-inline: 0;
  top: 100%;
  left: 15px;
  right: 15px;
  background-color: black;
  max-height: 0;
  overflow: hidden;
  /* transition: */
}
.navbar.active {
  max-height: 321px;
  transition-duration: 0.5s;
}
.navbar-list {
  border-block-start: 1px solid lightgray;
  margin-block: 25px;
}
.navbar-item {
  border-block-end: 1px solid lightgray;
}
.navbar-link {
  color: white;
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.5px;
  padding: 10px 30px;
}
.navbar-link:is(:hover, :focus) {
  color: rgb(255, 208, 0);
}
/* section padding - 80px */

.hero {
  padding-block-start: 140px;
  padding: 100px 200px 100px 10px;
  background-position: left;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 100px 70% 100px 2%;
  }
  .hero p {
    max-width: 300px;
    font-size: 16px;
  }
}
.hero::before {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  mix-blend-mode: multiply;
}
.hero-text {
  color: white;
  margin-block: 15px 40px;
  font-size: 14px;
}
.text-center {
  text-align: center;
}
.grid-list {
  display: grid;
  gap: 30px;
}
.service {
  text-align: center;
  padding-top: 88vh;
  background-color: antiquewhite;
  color: #232224;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 568px) {
  .service{
    padding-top: 95vh;
  }
}
.services-content h2 {
  text-transform: uppercase;
  text-shadow: 3px 3px 3px gray;
  text-align: center;
  font-size: 38px;
  margin-bottom: 44px;
}

.services-content p {
  line-height: 150%;
  margin-bottom: 14px;
  text-align: center;
  max-width: 780px;
}
.service .section-text {
  margin-block: 15px 55px;
}
.service-card {
  background-color: white;
  padding: 60px 25px;
  box-shadow: var(--shadow-1);
  border-radius: 8px;
}
.service-card .card-icon {
  color: rgb(255, 208, 0);
  font-size: 70px;
  line-height: 1;
}
.serice-card .card-title {
  margin-block: 15px 12px;
  /* transition: ; */
}
.service-card .card-title:is(:hover, :focus) {
  color: rgb(255, 208, 0);
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 44px 34px 44px;
}
.haircut {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.368627451);
  overflow: hidden;
}
.haircut img {
  width: 100%;
  max-width: 354px;
  transition: transform 0.2s;
}

.haircut img:hover {
  transform: scale(1.2);
  z-index: 1;
}
.haircut-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  background-color: #fff;
  z-index: 99;
}

.haircut-info button {
  color: #fff;
  background-color: rgb(226, 189, 23);
  padding: 4px 8px;
  border-radius: 4px;
  border: 0;
  cursor: default;
}
@media screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
  .haircut img {
    max-width: 740px;
  }
}

/*-----------------  */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
  gap: 24px;
  color: #fff;
  background-color: black;
  background-attachment: fixed;
}
.footer img {
  width: 300px;
  height: 250px;
}

.footer-icons {
  display: flex;
  gap: 8px;
  color: #fff;
}

.footer-icons a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: rgb(255, 208, 0);
}

@keyframes translateY {
  from {
    transform: translateY(0) translateX(0) scale(1);
  }
  to {
    transform: translateY(-8px) translateX(2px) scale(1.1);
  }
}
@keyframes logoTranslate {
  from {
    transform: translateY(0) translateX(0) scale(1);
  }
  to {
    transform: translateY(3px) translateX(0px) scale(1.2);
  }
}
@media screen and (max-width: 768px) {
  @keyframes translateY {
    from {
      transform: translateY(0) scale(1);
    }
    to {
      transform: translateY(-8px) scale(1.1);
    }
  }
}

.service2 {
  text-align: center;
  padding-top: 0vh;
  background-color: antiquewhite;
  color: #232224;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.service3{
  text-align: center;
  padding-top: 0vh;
  background-color: #49403B;
  color: #232224;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.service3 h2{
  color: white;
  text-shadow: black 3px 3px 3px ;
}
/* --------------------- */
.local-container{
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  padding: 50px;
  gap: 50px;
}
.flex1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex1 h1{
  color: white;
  text-shadow: 3px 3px 3px black;
  font-size: 23px;
}
.flex1 p{
  margin-top: 20px;
  color: white;
  font-size: 16px;
}
.flex2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex2 iframe{
  border-radius: 12px;
  height: 350px;
}
.flex3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-right: 50px;
}
.flex3 .flex-local{
  display: flex;
  align-items: flex-end;
  gap: 12px;
  color: white;
}
.flex3 .flex-phone{
  display: flex;
  align-items: flex-end;
  gap: 12px;
  color: white;
}

@media screen and (min-width: 768px){
  .local-container{
    display: flex;
    flex-direction: row;
  }
  .flex1{
    max-width: 300px;
  }
  .flex1 h1{
    font-size: 32px;
  }
  .flex2{
    max-width: 300px;
  }
  .flex3{
    max-width: 300px;
  }
}
.btn-whatsapp {
  position: fixed;
  bottom: 14px;
  right: 24px;
  z-index: 99;
}
.btn-whatsapp img {
  max-width: 74px;
  transition: transform 0.4s;
}
.btn-whatsapp img:hover {
  transform: scale(1.1);
}

.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 8px;
  padding: 4px;
  border-radius: 8px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s;
  left: -144px;
  background-color: #232224;
  color: #fff;
}

.btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .btn-whatsapp img {
    max-width: 64px;
  }
} 
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }
 
 button.learn-more {
  width: 16rem;
  height: auto;
 }
 
 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 4rem;
  height: 4rem;
  background: rgb(226, 189, 23);
  border-radius: 1.625rem;
 }
 
 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.525rem;
  height: 0.125rem;
  background: none;
 }
 
 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 button:hover .circle {
  width: 100%;
 }
 
 button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
  text-shadow: 3px 3px 3px black
 }
 
 button:hover .button-text {
  color: #fff;
  text-shadow: 1px 1px 3px black
 }